<html>

<head>

</head>

<body>
  <form>
    <span>Employee ID: <input [(ngModel)] = "employeeid"  type="number" name="first" min=0   placeholder="Enter ID"> 
  
    Employee Name: <input type="text"  [(ngModel)] = "employeename" name="second" placeholder="Enter Name"> </span><br><br>
  
    Position: <input name="third"  [(ngModel)] = "position" type="text" placeholder="Enter Employee Position"> Current Task: <input name="fourth"  [(ngModel)] = "task" type="text" placeholder="Enter Current Task">
    <br><br>
  
    <button [style.display] ="addButton" (click)="addEmployee()">Add Employee</button> <button [style.display] ="save" (click)="Save()">Save</button>
    <br><br>
    
  
  </form>

  <table border=1;>
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Position</th>
      <th>Current Task</th>
    </tr>
    <tr *ngFor="let e of employees; index as i">
      <td>{{e.id}}</td>
      <td>{{e.name}}</td>
      <td>{{e.position}}</td>
      <td>{{e.task}} </td>
      <button (click)="Edit(i)">Edit</button>
      <button (click)="Delete(i)">Delete</button>
    </tr>
    
  </table>



</body>

</html>